article{
    display: flex;
    margin-left: 5%;
    margin-top:10%;
    width: 72%;
    background-color: white;
}
.header-coffe{
    color: #232C38;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin-top: 4%;
    margin-bottom: 3%;
    line-height: 28px; /* 116.667% */    
}
.text-coffe{
    color: #151D28;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
    display: inline-block;   
    width: 100%;
    margin-bottom: 7%;
    text-align: left;
}
.price{
    color: #C7A17A;
    font-family: Nunito;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 2%;
    line-height: 24px; /* 120% */  
    text-align: left;  
}
.button-card{
    background-color: #C7A17A;
    width: 8vw;
    height: 4vh;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 19px;
    margin-bottom: 6%;
}
.button-card2{
    background-color: white;
    width: 7vw;
    height: 4vh;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 19px;
    margin-left: 5%;
}
.button-card2 > span{
    color: black;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
.button-card > span{
    color: #F9FBFF;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
.cardcoffe{
    background-color: rgba(126, 131, 131, 0.493);
}
.Textcooffecard{
    margin-left: 10%;
    margin-right: 12%;
    margin-top: 3%;
}