article{
    display: flex;
    margin-left: 5%;
    margin-top:10%;
    width: 100%;
}
.header-coffeswipe{
    color: #232C38;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */    
}
.text-coffeswipe{
    color: #151D28;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
    display: inline-block;   
    width: 100%;
    margin-bottom: 3%;
    text-align: left;
}
.priceswipe{
    color: #C7A17A;
    font-family: Nunito;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */  
    text-align: left;  
}
.button-cardswipe{
    background-color: #C7A17A;
    width: 9vw;
    height: 4vh;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 19px;
}
.button-card2swipe{
    background-color: white;
    width: 9vw;
    height: 4vh;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 19px;
    margin-left: 5%;
}
.button-card2swipe > span{
    color: black;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
.button-cardswipe > span{
    color: #F9FBFF;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
