
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;0,6..12,700;1,6..12,300&display=swap');



.App-header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
}
.revo-img{
  background-image:url(./img/revo_logo.png) ;
  width: 7.5vw;
  height: 4.5vh;
  background-size: 100%;
  margin-top: 20%;
  margin-left: 40%;
}
.your-coffe-img{
  flex-shrink: 0;  
  color: #415167;
  font-family: Montserrat;
  font-size: 74px;
  font-style: normal;
  font-weight: 900;
  margin-left: -30.5%;
  text-align: left;
  padding-top: 60%;
}
.main-img{
  background-image: url(./img/30072807_909538065884146_2710474531215143694_o.png);
  width: 55vw;
  height: 89vh;
  background-size: 100%;
}
.big-brown{
  background-color: #C7A17A;
  font-family: Montserrat;
  font-size:74px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px;  
  color: white;
}
.sale-menu{
  background-color: #415167;
}
.sale-img{
  width: 2.3vw;
  height: 4vh;
  background-image: url('./img/IC_CART.png');
  background-size: 100%;
  display: inline-block;
}
.under-sale-img{
  display: inline-block;
  background-color: #C7A17A;
  border-radius: 100%;
  width: 1.4vw;
  height: 2.4vh;
  margin-bottom: 9%;
}
.sale-icon{
  margin-top: 30%;
  margin-left: 25%;
  margin-bottom: 35%;
}
ul{
  width: 15vw;
  margin-left: 15%;
}
li{
  color: #edf0f5bb;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  margin-top: 15%;
  list-style-type: none;
}
li:hover{
  color:#EDF0F5;
  text-decoration: none;
}
.Personalized-Coffee{
  margin-top: 7%;

}
#Personalized-text{
  color: #415167;
  text-align: center;
  font-family: Nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}
h2{
  color: #415167;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px; /* 113.333% */
  text-align: center;
}
.Personalized-Coffee-Img1{
  background-image:url(./img/ic3.png);
  width: 7vw;
  height: 12.6vh;
  background-size:100%;
  margin: 0 auto;
}
.Personalized-Coffee-Img2{
  background-image:url(./img/IC.png);
  width: 7vw;
  height: 12.6vh;
  background-size:100%;
  margin: 0 auto;
}
.Personalized-Coffee-Img3{
  background-image:url(./img/IC1.png);
  width: 7vw;
  height: 12.6vh;
  background-size:100%;
  margin: 0 auto;
}
.Personalized-Coffee-Img4{
  background-image:url(./img/IC2.png);
  width: 7vw;
  height: 13.2vh;
  background-size:100%;
  margin: 0 auto;
}
h4{
  color: #232C38;
  font-family: Nunito;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}
.Personalized-Coffee-Flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 5%;
}
p{
  color: #151D28;
  text-align: center;
  font-family: Nunito;
  font-size: 26px;
  font-style: normal;
}
.Personalized-Coffee-Flex-Text{
  width: 40%;
  margin-left: 9%;
}
.Carousel{
  margin-top: 10%;
  background-color:#F9FBFF;
}
.Carousel-blue{
  height: 100%;
  width: 20%;
  position: absolute;
  background-color: #415167;
}
#Carousel-p{
  color: #415167;
  text-align: center;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */  
  padding-top: 5%;
}

#Carousel-h3 {
  text-align: center;
  color: #415167;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px; /* 113.333% */
}
.Carousel-white{
  height: 100%;
  width: 23%;
  position:absolute;
  background-color: white;
  right: 0;
}
.Carousel-swipe{
  background-color: #EDF0F5;
}